<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nbin.termor">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_termo"
        android:label="@string/app_name_lowcase"
        android:roundIcon="@mipmap/icon_termo_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.Termor">
        <activity

            android:name=".NewRightAnswerActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>